.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.card {
    width: 340px;
    height: 200px;
    border-radius: 20px;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 6px 20px rgba(0,0,0,0.25);
    position: relative;
    overflow: hidden;
}


.card:hover {
    transform: scale(1.03);
}

/* Colores de bancos */
.bbva       { background: #0055a5; }
.santander  { background: #ec0000; }
.banorte    { background: #a00000; }
.hsbc       { background: #db0011; }
.scotiabank { background: #c4161c; }

.fecha {
    font-size: 14px;
    opacity: 0.85;
    margin-top: 10px;
}

h1, h2, h3 {
    margin-left: 10px;
}